{% extends 'parent.html' %}
{% block main %}
{% load static%}
<section id="about" class="about">
    <div class="container">
    <div class="section-title aos-init aos-animate" data-aos="zoom-out">
    <h2 class="text-center">Description</h2>
    <center><b><p>About <span>NOU <span style="  text-transform: lowercase;">e</span>-Gyan Portal </span></p></b></center>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row ">
    <div class="col-sm-1"></div>
    <div class="col-lg-6">
    <p>
    <strong> Nalanda Open University </strong> welcomes all our students, faculties &amp; study centres to the very new &amp; innovative online study portal <strong>NOU e-Gyan</strong>. The portal is a unique initiative by Hon'ble Vice-Chancellor <strong>Prof. (Dr.) K C Sinha</strong>, which aims at providing online study material to the students of NOU.
    <br><br>
    The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring &amp; Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.
    </p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4 mx-3 mx-lg-0" style="background:linear-gradient(-15deg,rgba(255,255,255,.4),rgba(0,0,0,.7)),url({%static 'images/about.jpg' %});min-height:55vh;background-repeat:no-repeat;background-size:100% 100%;">
    </div>
    </div>
    </div>
    </section>
{% endblock main %}