{% extends 'parent.html' %}
{% block main %}
{% load static%}
<section id="about" class="about">
    <div class="container">
    <div class="section-title ">
    <h2 class="text-center ">E-Gyan Portal</h2>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row " style="margin-top:40px;">
    <div class="col-sm-1"></div>
    <div class="col-lg-6">
    <p>
    <br><br>
    The Nalanda Open University is the only University in the State of Bihar meant for imparting learning exclusively through the system of distance education. The University was established in March, 1987 by an ordinance, promulgated by the Government of Bihar. Later, Nalanda Open University Act, 1995 was passed by the Bihar Legislature, replacing the Ordinance, and the University came under the authority and jurisdiction of the new Act automatically. The University is named after the famous Nalanda University of Ancient India.
    </p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4 mx-3 mx-lg-0" style="background:linear-gradient(-15deg,rgba(255,255,255,.4),rgba(0,0,0,.7)),url({%static 'images/lib.jpg' %});min-height:55vh;background-repeat:no-repeat;background-size:100% 100%;">
    </div>
    </div>
    </div>
    </section>
{% endblock main %}